@import "./common/style/reset";
@import "./common/style/vars";

.main {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-radius: 16px;
  gap: 15px;
  background-color: $main-color;
  width: 100%;
  max-width: 30%;
  flex-wrap: wrap;
}

// #86cdf9
